[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
allure-behave = "*"
selenium = "*"
chromedriver-binary = "==103.0.5060.134.0"

[dev-packages]

[requires]
python_version = "3.9"
